
.card-grafica {
  max-width: 700px;
  margin: 30px auto;
  background: #8d8b8b;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.canvas-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-preview img {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  margin-bottom: 20px;

}

.controles {
  width: 100%;
  display: grid;
  gap: 10px;
}

/* botonesxd */
.controles button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.controles button:first-of-type {
  background: linear-gradient(135deg, #5a5a5a, #000);
  color: #fff;
}


.controles button:last-of-type {
  background: linear-gradient(135deg, #c9bbbb, #614b01);
  color: #fff;
}


